bean_edge
[{"id":"9aeb162d.99c078","type":"mqtt-broker","z":"d636e893.0125f8","broker":"run-east.att.io","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d3e36983.a4f628","type":"bean","z":"d636e893.0125f8","name":"Bean","uuid":"","connectiontype":"constant","connectiontimeout":"0"},{"id":"516cd2c9.8dbdcc","type":"inject","z":"d636e893.0125f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":115.5,"y":37,"wires":[["de98fbf5.74b338"]]},{"id":"af09dbb9.f65248","type":"bean accel","z":"d636e893.0125f8","name":"","bean":"d3e36983.a4f628","x":323.5,"y":118,"wires":[["16f4eea4.ae70b1","1e018890.ea2777"]]},{"id":"16251a18.3da096","type":"function","z":"d636e893.0125f8","name":"Accel to LED","func":"\nif(msg.payload[0] > 0.25) {\n    msg.payload = \"Green\";\n} else if(msg.payload[0] < -0.25) {\n    msg.payload = \"Red\";\n} else {\n    msg.payload = \"Blue\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":575.5,"y":65,"wires":[[]]},{"id":"1b6dd6a2.41ea49","type":"bean led","z":"d636e893.0125f8","name":"","bean":"d3e36983.a4f628","x":747.5,"y":336,"wires":[]},{"id":"e29255bc.521908","type":"bean temp","z":"d636e893.0125f8","name":"","bean":"d3e36983.a4f628","x":329.5,"y":338,"wires":[["d4fcc632.4415e8","e9388d74.b20b3","2f80e90e.66ab36"]]},{"id":"3c1559d8.d5bb86","type":"debug","z":"d636e893.0125f8","name":"","active":true,"console":"false","complete":"false","x":722.5,"y":490,"wires":[]},{"id":"d4fcc632.4415e8","type":"function","z":"d636e893.0125f8","name":"Temp to LED","func":"if(msg.payload < 27) {\n    msg.payload = \"Blue\";\n} else if(msg.payload >= 29) {\n    msg.payload = \"Red\";\n} else {\n    msg.payload = \"Green\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":337,"wires":[["1b6dd6a2.41ea49"]]},{"id":"24cfaf23.675c4","type":"mqtt out","z":"d636e893.0125f8","name":"","topic":"bean/temp","qos":"","retain":"","broker":"9aeb162d.99c078","x":780.5,"y":422,"wires":[]},{"id":"155df5e5.12acaa","type":"function","z":"d636e893.0125f8","name":"Accel to Nums","func":"var vals = msg.payload.split(\",\").map(function(item)\n{\n   return Number(item.trim());\n});\nmsg.payload = vals;\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":65,"wires":[["16251a18.3da096"]]},{"id":"5ec2b058.e87e5","type":"mqtt out","z":"d636e893.0125f8","name":"","topic":"bean/accel","qos":"","retain":"","broker":"9aeb162d.99c078","x":776,"y":85,"wires":[]},{"id":"16f4eea4.ae70b1","type":"function","z":"d636e893.0125f8","name":"Add DeviceID (Accel)","func":"var accel = msg.payload;\nmsg.payload = {};\nmsg.payload.accel = accel;\nmsg.payload.accelX = msg.accelX;\nmsg.payload.accelY = msg.accelY;\nmsg.payload.accelZ = msg.accelZ;\nmsg.payload.deviceID = global.get(\"deviceID\");\nmsg.payload.timestamp = flow.get(\"timestamp\");\nreturn msg;","outputs":1,"noerr":0,"x":550.5,"y":117,"wires":[["b080760e.1fa088","5ec2b058.e87e5"]]},{"id":"e9388d74.b20b3","type":"function","z":"d636e893.0125f8","name":"Add DeviceID (Temp)","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.temp = temp;\nmsg.payload.deviceID = global.get(\"deviceID\");\nmsg.payload.timestamp = flow.get(\"timestamp\");\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":424,"wires":[["3c1559d8.d5bb86","24cfaf23.675c4"]]},{"id":"de98fbf5.74b338","type":"function","z":"d636e893.0125f8","name":"Init","func":"flow.set(\"timestamp\",msg.payload);\nflow.set(\"timestampStr\",new Date(msg.payload).toISOString());\nglobal.set(\"deviceID\",\"b01c8d92985ab41977f3559f806e611a\");\nreturn msg;","outputs":1,"noerr":0,"x":123,"y":132,"wires":[["e29255bc.521908","af09dbb9.f65248"]]},{"id":"b080760e.1fa088","type":"debug","z":"d636e893.0125f8","name":"","active":true,"console":"false","complete":"false","x":774,"y":151,"wires":[]},{"id":"db34dcdd.95847","type":"file","z":"d636e893.0125f8","name":"Append Temp Data","filename":"bean_temp_data.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":759.5,"y":541,"wires":[]},{"id":"2f80e90e.66ab36","type":"function","z":"d636e893.0125f8","name":"Temp to Log format","func":"var temp = msg.payload;\nmsg.payload = flow.get(\"timestampStr\");\nmsg.payload += \",\"+temp;\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":541,"wires":[["db34dcdd.95847"]]},{"id":"c3c229a8.e1afd8","type":"file","z":"d636e893.0125f8","name":"Append Accel Data","filename":"bean_accel_data.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":786.5,"y":213,"wires":[]},{"id":"1e018890.ea2777","type":"function","z":"d636e893.0125f8","name":"Accel to Log Format","func":"var accel = msg.payload;\nmsg.payload = flow.get(\"timestampStr\");\nmsg.payload += \",\"+msg.accelX;\nmsg.payload += \",\"+msg.accelY;\nmsg.payload += \",\"+msg.accelZ;\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":214,"wires":[["c3c229a8.e1afd8"]]},{"id":"43178a02.d6b594","type":"comment","z":"d636e893.0125f8","name":"Temperature","info":"","x":327.5,"y":287,"wires":[]},{"id":"5cb8e2fe.a38dec","type":"comment","z":"d636e893.0125f8","name":"Acceleration","info":"","x":314,"y":26,"wires":[]}]
